
{% block content %}
<h1>Messages</h1>
<p>
{% if message_list %}
    <a href="/messages?sort=old_to_new">Sort from old to new messages</a> <br>
    <a href="/messages?sort=new_to_old">Sort from new to old messages</a> <br>
    <a href="/messages?sort=last_day">Show all messages about 24 hours</a> <br>
    {% if user != 'AnonymousUser' %}
    <a href="/messages?sort=current_user">Show all messages from current user</a> <br>
        {% endif %}
<ul>
  {% for message in message_list %}
    <li>
        <a href="{% url 'chat:message_detail'  message.id %}">{{ message.text }} </a>
        {% if message.image %}
            <img src="{{ message.image.url }}">
        {% endif %}
        <span>{{ message.created_at }}</span>
        {% if message.owner == user %}
        (<a href="{% url 'chat:message_update' message.id %}">Edit</a> |
        <a href="{% url 'chat:message_delete' message.id %}">Delete</a>)
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no messages in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'chat:message_create' %}">Add an message</a> ||
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'chat:all' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}?next={% url 'chat:all' %}">Login</a> or
    <a href="{% url 'chat:registration' %}?next={% url 'chat:all' %}">Registration</a>
{% endif %}
</p>
{% endblock %}
